
<div class="container">
   <div class="loginBox">
      <div class="content">
         <h2>{{title}}</h2>
         <form>
            {{{form}}}
         </form>
      </div>
      <div class="buttons">
         {{{buttons}}}
      </div>
   </div>
</div>